<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home_Page</title>
     <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
    <nav>
        <div class="nav-wrapper">
            <a href="/home" class="brand-logo center">Waiter</a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a class="btn-small waves-effect amber darken-2" href="/order">{{navbar_data.left}}</a></li>
            </ul>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a class="btn-small waves-effect amber darken-2" href="/reroute_nav_a">{{navbar_data.right_a}}</a></li>
                <li><a class="btn-small waves-effect amber darken-2" href="/reroute_nav_b">{{navbar_data.right_b}}</a></li>
            </ul>
        </div>
    </nav>
    <main>

      <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center white-text text-darken-2">Waiter</h1>
        <div class="row center">
          <h5 class="header col s12 light white-text">Home cooked food straight to your door.</h5>
        </div>
        <div class="row center">
          <a href="/order" id="download-button" class="btn-large waves-effect waves-light amber darken-2">Order Now</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="static/images/main_background.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">
      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text">Choose</h2>

            <p class="light">Choose form a large selection of different dishes to suit your taste. Filter options quickly and easily by cuisine or distance.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text">Order</h2>

            <p class="light">Safely and conveniently place and pay for your order easily - save your order for next time to easily reorder your favourite dishes.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">Collect</i></h2>
            <p class="light">Agree a collection point and time with the cook, phone numbers are provided to both cook and customer - no hassle or fuss.</p>
          </div>
        </div>
      </div>

    </div>
  </div>

<!--  <div id="index-banner" class="parallax-container">-->
<!--        <div class="section no-pad-bot">-->
<!--    <div class="parallax"><img src="static/images/bean.jpg" alt="Unsplashed background img 1"></div>-->
<!--  </div>-->

  <div class="container">
    <div class="section">


    </div>
  </div>
    </main>
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col 16 s12">
                    <h5 class="white-text">Waiter</h5>
    <!--                    <p class="grey-text text-darken-3">Some ting</p>-->
                </div>
                <div class="col 14 offset-l2 s12">
                    <ul>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2021 Waiter
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>

        <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


    <script type="text/javascript">
        $(document).ready(function () {
            $(".parallax").parallax();
        })
    </script>

</body>
</html>