<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Purchase Confirm</title>

         <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
           $("a#test_input").bind("click", function() {
              $.getJSON("/test_process", {

              })
           });
        });
    </script>

</head>
<body>
    <nav>
        <div class="nav-wrapper">
            <a href="/home" class="brand-logo center">Waiter</a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a class="btn-small waves-effect amber darken-2" href="/order">{{navbar_data.left}}</a></li>
            </ul>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a class="btn-small waves-effect amber darken-2" href="/reroute_nav_a">{{navbar_data.right_a}}</a></li>
                <li><a class="btn-small waves-effect amber darken-2" href="/reroute_nav_b">{{navbar_data.right_b}}</a></li>
            </ul>
        </div>
    </nav>

    <main>
        <a href="/complete_order" id="complete_order_button"><button class="btn-large waves-effect amber darken-2">Complete Order</button></a>
        <p>{{basket}}</p>
    </main>
</body>
</html>