<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

     <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
     <nav>
        <div class="nav-wrapper">
            <a href="/home" class="brand-logo center">Waiter</a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a class="btn-small waves-effect amber darken-2" href="/order">{{navbar_data.left}}</a></li>
            </ul>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a class="btn-small waves-effect amber darken-2" href="/reroute_nav_a">{{navbar_data.right_a}}</a></li>
                <li><a class="btn-small waves-effect amber darken-2" href="/reroute_nav_b">{{navbar_data.right_b}}</a></li>
            </ul>
        </div>
    </nav>

    <main>
        <div class="container">
            <h4 class="light grey-text text-darken-3 center">Signup as a Customer</h4>

             <div class="row">
                <form class="col s12 m6 offset-m3" action="" method="POST">
                    {{ form.csrf }}
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="first_name" type="text" name="first_name" class="validate" />
                            <label for="first_name">First Name</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input id="last_name" type="text" name="last_name" class="validate" />
                            <label for="last_name">Last Name</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input id="email_address" type="text" name="email_address" class="validate" />
                            <label for="email_address">Email Address</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input id="username" type="text" name="username" class="validate" />
                            <label for="username">Username</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input id="dob" type="date" name="dob" class="datepicker" />
                            <label for="dob">Date of Birth</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input id="home_address" type="text" name="home_address" class="validate" />
                            <label for="home_address">Home Address</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input id="password" type="password" name="password" class="validate" />
                            <label for="password">Password</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input id="password2" type="password" name="password2" class="validate" />
                            <label for="password2">Repeat Password</label>
                        </div>
                    </div>


                    <div class="row">
                        <div class="input-field col s12">
                            <button type="submit" name="signup" class="waves-effect waves-light btn center amber darken-2">Signup as a Customer</button>
                        </div>
                    </div>

                    <div class="row">
                        <p class="light center">{{ output }}</p>
                    </div>

                </form>
             </div>
        </div>
    </main>

     <script src="https://code.jquery.com/jquery-3.4.1.js"></script>

        <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script>
        $(document).ready(function () {
            $(".datepicker").datepicker();
            $(".datepicker").pickadate({
                min: new Date(1930, 1, 1),
                selectMonths: true,
                selectYears: 85
            });
        });
    </script>
</body>
</html>